.main-sidebar {
  display: flex;
  min-height: 100vh;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    .mat-drawer-container {
      height: -webkit-fill-available;
      .mat-tab-label-container {
        visibility: hidden;
        height: 0;
      }

      .mat-tab-header {
        display: none !important;
      }
      .mat-drawer-opened {
        width: 22vw;
        background-color: #efeff2;
      }
    }
  }
  .sidebar-footer {
    text-align: center;
    background-color: #efeff2;
    padding-bottom: 40px;
    img {
      max-width: 100%;
    }
    p {
      margin: 7px 0 0;
      font-size: 18px;
      color: #999999;
      text-transform: capitalize;
    }
  }
}
