.main-sidebar {
  display: flex;
  min-height: 100vh;

  .sidebar-options {
    padding: 25px 20px;
    border-right: 2px solid #e1e2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      a {
        display: flex;
      }
    }
    .sidebar-toggle {
      border: none;
      background: none;
      .mat-button-toggle-checked {
        display: none;
      }
      .mat-button-toggle-group-appearance-standard {
        border: none;
      }

      .mat-button-toggle {
        border: none;
        &:hover {
          background: transparent;
        }
      }
      span {
        font-size: 36px;
        color: #999999;
        padding: 0;
      }
    }
    .sidebar-logout {
      margin-top: auto;
      border: none;
      background: none;
      span {
        font-size: 36px;
        color: #999999;
      }
    }
  }
}
.mat-drawer-container {
  .mat-tab-label-container {
    visibility: hidden;
    height: 0;
  }

  .mat-tab-header {
    display: none !important;
  }
  .mat-drawer-opened {
    width: 22vw;
    background-color: #efeff2;
  }
}
