.viewuser-section {
  > * {
    font-family: "DejaVu Sans";
  }
  h2 {
    font-size: 24px;
    text-align: center;
    padding: 47px 0;
    text-transform: uppercase;
    border-bottom: 2px dashed #cfcfcf;
    line-height: 1;
  }
  .viewusermain {
    padding: 30px 20px;
    .mat-radio-group {
      font-family: "DejaVu Sans";
      display: block;
      box-shadow: #000 0px 0px 22px -10px;
      .mat-radio-button {
        border-left: 8px solid #fff;
        border-bottom: 1px dashed #cfcfcf;
        line-height: 1;
        font-size: 22px;
        background-color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #cccccc; 
        .mat-radio-label {
          padding: 34px 0 34px 20px;
          .mat-radio-container {
            visibility: hidden;
            width: 0;
          }
        }
      }
      .mat-radio-checked {
        border-left-color: #cd3f6b;
        background-color: #ebebeb;
        color: #7d7d7d;
      }
    }
  }
  .mat-radio-button {
    width: 100%;
  }
}
.search-section {
  margin-top: 45px;
  > p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #999999;
    font-weight: 600;
  }
  .search {
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    border: 2px solid #33bc90;

    border-radius: 7px;
    .mat-icon {
      width: 18%;
      height: 100%;
      font-size: 36px;
      text-align: center;
      color: #999a99;
      cursor: pointer;
    }
    input {
      padding: 15px 5px;
      width: 82%;
      border: none;
      font-size: 22px;
      &:focus-visible {
        outline: none;
      }
    }
  }
  button {
    background-color: #cd4270;
    border-radius: 7px;
    padding: 25px 60px;
    width: fit-content;
    margin-left: auto;
    color: #fff;
    border: none;
    margin-top: 30px;
    font-size: 28px;
    display: block;
    cursor: pointer;
  }
}
