.sidebar-options {
  padding: 25px 20px;
  border-right: 2px solid #e1e2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  header {
    a {
      display: flex;
    }
  }
  .sidebarNav-list {
    .mat-list {
      margin: 35px 0px;
      .mat-list-item {
        margin-bottom: 20px;
        height: 70px;
        border-radius: 20px;
        background-color: #e4e6e8;
        &:hover , &:focus {
          background-color: #e4e6e8;    
        }

        .material-icons {
          font-size: 40px;
        }
      
      }
    }
  }
  .sidebar-toggle {
    width: 100%;
    text-align: center;
    padding: 12px 12px;
    border-radius: 15px;
    background-color: #fff;

    &:hover {
      background-color: #e4e6e8;
    }
    button {
      border: none;
      cursor: pointer;
      background-color: transparent;
    }
    span {
      font-size: 36px;
      color: #999999;
    }
  }
  .sidebar-logout {
    margin-top: auto;
    border: none;
    background: none;
    width: 100%;
    padding: 15px 0;
    border-radius: 13px;

    &:hover {
      background-color: #e4e6e8;
      cursor: pointer;
    }
  }
}
