.main-sidebar {
  display: flex;
  min-height: 100vh;

  .sidebar-options {
    padding: 25px 20px;
    border-right: 2px solid #e1e2e6;
    ul {
      list-style-type: none;
      padding-left: 0;
      padding: 22px 0px;
      li {
        padding: 24px 0;

        button {
          padding: 16px;
          border-radius: 18px;
          border: none;
          background-color: #e4e6e8;
          cursor: pointer;
          .material-icons {
            font-size: 36px;
            color: #1c1a1f;
          }
          &:hover {
            background-color: #e4e6e8;
          }
        }
      }
    }
  }
}
