.main-sidebar {
  display: flex;
  min-height: 100vh;

  .sidebar-options {
    padding: 25px 20px;
    border-right: 2px solid #e1e2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      list-style-type: none;
      padding-left: 0;
      padding: 22px 0px;
      margin: 0;
      li {
        padding: 24px 0;
        width: 100%;
        button {
          padding: 16px;
          border-radius: 18px;
          border: none;
          background-color: #e4e6e8;
          cursor: pointer;
          .material-icons {
            font-size: 36px;
            color: #1c1a1f;
          }
          &:hover {
            background-color: #e4e6e8;
          }
        }
      }
    }

    .sidebar-toggle {
      border: none;
      background: none;
      .mat-button-toggle-checked {
        display: none;
      }
      .mat-button-toggle-group-appearance-standard {
        border: none;
        
      }
      .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
        padding: 0 !important;
      }
      .mat-button-toggle {
        border: none !important;
        > *{
          padding: 0 !important;
          text-align: center;
        }
        .mat-button-toggle-label-content {
          padding: 0 !important;
        }
      }
      span {
        font-size: 36px;
        color: #999999;
        padding: 0 !important;
      }
    }
    .sidebar-logout {
      margin-top: auto;
      border: none;
      background: none;
      span {
        font-size: 36px;
        color: #999999;
      }
    }
  }
}
