<div class="main-sidebar">
  <div class="sidebar-options">
    <header>
      <a routerLink="/">
        <img
          src="/assets/images/sidebarlogo.png"
          alt="Managed Receiving logo"
        />
      </a>
    </header>
    <ul>
      <li>
        <button type="button" (click)="showFiller = !showFiller">
          <span class="material-icons"> tune </span>
        </button>
      </li>
    </ul>

    <div class="sidebar-toggle" (click)="toggleDrawer(drawer)">
      <mat-button-toggle-group #toggleBtn="matButtonToggleGroup">
        <mat-button-toggle value="showsidebar">
          <span class="material-icons"> arrow_forward_ios </span>
        </mat-button-toggle>
        <mat-button-toggle value="hidesidebar"> 
          <span class="material-icons"> {{arrow_back_ios}} </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>


 
    <button type="button" class="sidebar-logout" (click)="changeMenu(drawer)">
      <span class="material-icons"> logout </span>
    </button>
  </div>

  <mat-drawer-container class="sidebar-content" autosize>
    <mat-drawer #drawer class="sidebar-results" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  </mat-drawer-container>
 
  <!-- <div *ngIf="selectedMenu !== AppMenu.None"> -->
  <div [ngSwitch]="switch_expression">
    <div *ngSwitchCase="'match_expression_1'">.dasda..</div>
    <div #match_expression_2 *ngSwitchCase="'match_expression_2'">
      .dasdadasdasd..
    </div>
    <div #match_expression_3 *ngSwitchCase="'match_expression_3'">
      ..dasdasdasdadsaddad.
    </div>
    <ng-container *ngSwitchCase="'match_expression_4'">
      use a ng-container to group multiple root nodes fsfsdfs
    </ng-container>
    <div *ngSwitchDefault>...</div>
  </div>
</div>
